.submitButton {
	background-color: #2E729F;
	color: white;
}

.russianImg,
.englishImg {
    border: 1px solid darkgrey;
}

.russianButtonLogin,
.englishButtonLogin {
    padding-top: 30px;
    float: right;
    padding-right: 0.6%;
}

.jumbotron {
    background-color: lightgray;
}

@media(max-width: 400px)  {
    .loginLogo {
        width: 70%;
        height: 70%;
    }
}