<div class="container wrappered" ng-controller="createController">
    <h1 class="text-center createTraining">{{ 'MAIN_TITLE_CREATE_TRAINING' | translate }}</h1>
    <form class="form-horizontal createTraining" name="createTraining" role="form" ng-submit="submitForm()">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4 required" for="name">Training name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="name" ng-model="createInfo.name" placeholder="Training name" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required" for="annotation">Annotation</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="annotation" ng-model="createInfo.annotation" placeholder="Annotation" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Type</label>
                <div class="col-md-8">
                    <select ng-model="isTrainingPeriodic" class="form-control">
                        <option value='true'>Periodic</option>
                        <option value=''>One time</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required" for="firstDate" ng-hide="isTrainingPeriodic">Date</label>
                <label class="control-label col-md-4 required" for="firstDate" ng-show="isTrainingPeriodic">First training</label>
                <div class="col-md-8">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" id="firstDate" placeholder="YYYY-MM-DD hh:mm" name="firstDate" ng-model="firstDate" required>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="firstDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                    <p ng-show="errorDateValidation" class="text-danger">{{errorDateValidation}}</p>
                </div>
            </div>

            <div class="form-group" ng-show="isTrainingPeriodic">
                <label class="control-label col-md-4 required" for="lastDate">Last training</label>
                <div class="col-md-8">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" ng-if="isTrainingPeriodic" class="form-control" id="lastDate" placeholder="YYYY-MM-DD hh:mm" name="lastDate" ng-model="lastDate" required>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="lastDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                    <p ng-show="errorDateValidation" class="text-danger">{{errorDateValidation}}</p>
                </div>
            </div>
            <div class="form-group" ng-show="isTrainingPeriodic">
                <label class="control-label col-md-4">Days</label>
                <div class="col-md-">
                    <div class="col-md-1" ng-repeat="day in days">
                        {{day.name}}<input
                            type="checkbox"
                            value="day.name"
                            ng-checked="selectedDays.indexOf(day.day) > -1"
                            ng-click="toggleSelection(day)"
                            >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="place">Place</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="place" ng-model="createInfo.place" placeholder="Type a place">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required" for="audience">Audience</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="audience" ng-model="createInfo.target" placeholder="Audience" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required" for="maxParticipants">Max number</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="maxParticipants" min="0" ng-model="createInfo.max_participants" placeholder="Max number of participants" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-md-4 required" for="description">Description</label>
                <div class="col-md-8">
                    <textarea type="text" rows="6" class="form-control" id="description" ng-model="createInfo.description" placeholder="Description" required></textarea>
                </div>
            </div>


            <div class="col-md-6 radioForm" >
                <div class="form-group">
                    <label class="control-label col-md-8">Internal / External:</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" ng-value="true" name="internalExternal" ng-model="createInfo.internal">internal</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-value="false" name="internalExternal" ng-model="createInfo.internal">external</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-8">Paid / Free:</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" ng-value="true" name="paidFree" ng-model="createInfo.paid">paid</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-value="false" name="paidFree" ng-model="createInfo.paid">free</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-md submitButton">Create training</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>