textarea {
    resize: none;
}

.createTraining {
    padding-bottom: 40px;
}

.submitButton {
    background-color: #2E729F;
    color: white;
}

@media screen and (min-width: 992px) {
    .submitButton {
        float: right;
    }
}