<div ng-include="navigation.url">
</div>

<div class="container wrappered" ng-controller="createController">
    <h2 class="text-center createTraining">Create training</h2>
    <form class="form-horizontal createTraining" name="createTraining" role="form" ng-submit="submitForm()">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4" for="name">Training name:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="name" ng-model="createInfo.name" placeholder="Training name" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="annotation">Annotation:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="annotation" ng-model="createInfo.annotation" placeholder="Annotation" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Type:</label>
                <div class="col-md-8">
                    <select ng-model="isTrainingPeriodic" class="form-control">
                        <option value='true'>Periodic</option>
                        <option value=''>One time</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="firstDate" ng-hide="isTrainingPeriodic">Date:</label>
                <label class="control-label col-md-4" for="firstDate" ng-show="isTrainingPeriodic">First training:</label>
                <div class="col-md-8">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" id="firstDate" placeholder="Pick a date" name="firstDate" ng-model="firstDate" required>
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="firstDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="isTrainingPeriodic">
                <label class="control-label col-md-4" for="lastDate">Last training</label>
                <div class="col-md-8">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" id="lastDate" placeholder="Pick a date" name="lastDate" ng-model="lastDate">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="lastDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="isTrainingPeriodic">
                <label class="control-label col-md-4">Days:</label>
                <div class="col-md-">
                    <div class="col-md-1">
                        Sun:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                    <div class="col-md-1">
                        Mon:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                    <div class="col-md-1">
                        Tue:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                    <div class="col-md-1">
                        Wed:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                    <div class="col-md-1">
                        Thur:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                    <div class="col-md-1">
                        Fr:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                    <div class="col-md-1">
                        Sat:<input type="checkbox" aria-label="Toggle ngHide">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="place">Place:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="place" ng-model="createInfo.place" placeholder="Type a place" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="audience">Audience:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="audience" ng-model="createInfo.target" placeholder="Audience" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="maxParticipants">Max number:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="maxParticipants" min="0" ng-model="createInfo.max_participants" placeholder="Max number of participants" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-md-4" for="description">Description:</label>
                <div class="col-md-8">
                    <textarea type="text" rows="6" class="form-control" id="description" ng-model="createInfo.description" placeholder="Description" required></textarea>
                </div>
            </div>


            <div class="col-md-6 radioForm" >
                <div class="form-group">
                    <label class="control-label col-md-8">Internal / External:</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" ng-value="true" name="internalExternal" ng-model="createInfo.internal">internal</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-value="false" name="internalExternal" ng-model="createInfo.internal">external</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-8">Paid / Free:</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label><input type="radio" ng-value="true" name="paidFree" ng-model="createInfo.paid">paid</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-value="false" name="paidFree" ng-model="createInfo.paid">free</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-md submitButton">Create training</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>