textarea {
    resize: none;
}

.createTraining {
    padding-bottom: 40px;
}

.submitButton {
    background-color: #2E729F;
    color: white;
}

.radioForm  {
    padding: 0;
}


.required:after {
    position: absolute;
    content:" *";
    font-size: 17px;
    color:red;
}

.form-control {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.form-control.ng-invalid {
    background-color: #FFF5EE;
}

/*.form-control.ng-invalid.ng-touched {*/
    /*background-color: #FDF5E6;*/
/*}*/


@media screen and (min-width: 992px) {
    .submitButton {
        float: right;
    }
}

.dateInputField{
    padding-top: 10px;
}

.dateInputButton{
    width:100%;
}