.monthName {
    background-color: paleturquoise;
}

.months {
    width: 20%;
    height: 714px;
    float: left;
}

.months .monthItem {
    height: 50px;
    width: 100%;
}

.description {
    height: 50px;
    width: auto;
    border-color: black;
    display: inline-block;
}

.descriptionItem {
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;

}

@media (min-width: 350px) {
    .descriptionItem {
        width: 150px;
    }
}

@media (min-width: 993px) {
    .descriptionItem {
        width: 160px;
    }
}

@media (min-width: 1199px) {
    .descriptionItem {
        width: 170px;
    }
}

.lineDescription {
    height: 50px;
    overflow: hidden;
}

.lineEvents {
    height: 714px;
}

.days {
    width: 80%;
    float: left;
}

.dayItem {
    color: black;
    float: left;
    background-color: #f9f9f9;
    width: 14.28571428571429%;
    height: 50px;
    opacity: 0.85;
    font-family: Helvetica, Georgia, Arial;
    font-size: 100%;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

.dayItem:hover {
    color: #269abc;
    border-color: #AFEEEE;
}
.dayItem p {
    margin: 0px;
    padding-top: 14.28571428571429%;
}

.currentDay {
    border-color: #DC143C;
}

.day-6, .day-0 {
    font-weight: 900;
    opacity: 1;
}

hr {
    margin: 0;
    width: 100%;
}

.month-01, .month-03, .month-05, .month-07, .month-09, .month-11 {
    background-color: lightgray;
}

.willNotGo {
    background-color: #f7ecb5;
}

.willGo {
    background-color: palegreen;
}

.pastMeetings {
    font-size: 30px;
    padding-left: 2.5%;
}

.pastMeetings li {
    color: #2E729F;
}

.pastMeetings div {
    font-size: 16px;
}

.pastMeetings h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.pastMeetings h4 {
    margin: 0px;
}

.pastMeetings a {
    color: #032539;
}

.pastMeetings a:hover {
    color: #2E729F;
}

.calLegendItem {
    display: inline-block;
    height: 50px;
    width: 10%;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
    color: #000000;
    opacity: 0.85;
}

.calLegendItem p {
    padding-top: 5px;
    margin: 0;
}

.calLegendDescription {
    display: inline-block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.showMore {
    width: 100px;
    padding-right: 0;
}