<div class="container wrappered">
    <!--<h2 class="text-center newsTitle"><small>Here will be news soon!</small></h2>-->
    <h1 class="text-center createTraining news">News</h1>

    <div class="col-md-12">
        <div class="dropdown searchFilter">
            <button class="btn btn-primary dropdown-toggle dropDownButton" type="button" data-toggle="dropdown">Show news by
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Trainings</a></li>
                <li><a href="#">Feedbacks</a></li>
                <li><a href="#">Approval</a></li>
            </ul>
        </div>

        <div class="alert alert-{{actualItem.status}} fade in" ng-repeat="actualItem in actualCurrentListItems">
            <a href="#" ng-click="removeActualItem(actualItem.id)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{actualItem.theme}}: </strong>{{actualItem.text}}
        </div>


        <table class="table table-striped table-bordered table-bordered">
            <thead>
            <tr>
                <th>Theme</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in historyCurrentListItems">
                <td>{{item.theme}}</td>
                <td>{{item.text}}</td>
                <td>{{item.data}}</td>
            </tr>
            </tbody>
        </table>


        <div class="text-center">
            <pagination
                    total-items="totalItems"
                    ng-model="currentPage"
                    max-size="maxSize"
                    class="pagination-sm"
                    boundary-links="true"
                    rotate="false"
                    num-pages="numPages">
            </pagination>
        </div>
    </div>
</div>