<div class="container wrappered">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="titleTrainingPage ">Approve</h1>
        </div>
    </div>

    <div classs="row " style="padding-top: 50px">
        <div class="col-md-12 LeftTextBlock">
            <div class="col-md-6">
                <div class="approveWrapDiv">
                    <span>Training name:</span>
                    <div class="approveTextDiv mergeText">
                        <span
                                ng-repeat="word in editInfo.name.expression track by $index"
                                ng-class="{
                              mergeAdd:1===editInfo.name.type[$index],
                              mergeRm:2===editInfo.name.type[$index]
                              }">
                            {{word}} </span>
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>{{ 'TRAINING_PAGE_ANNOTATION' | translate }}:</span>
                    <div class="approveTextDiv mergeText">
                        <span
                                ng-repeat="word in editInfo.annotation.expression track by $index"
                                ng-class="{
                              mergeAdd:1===editInfo.annotation.type[$index],
                              mergeRm:2===editInfo.annotation.type[$index]
                              }">
                            {{word}} </span>
                    </div>
                </div>
                <div class="approveWrapDiv ">
                    <span>{{ 'TRAINING_PAGE_DESCRIPTION' | translate }}:</span>
                    <div class="approveTextDiv mergeText">
                        <span
                                ng-repeat="word in editInfo.description.expression track by $index"
                                ng-class="{
                              mergeAdd:1===editInfo.description.type[$index],
                              mergeRm:2===editInfo.description.type[$index]
                              }">
                            {{word}} </span>
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>{{ 'TRAINING_PAGE_TARGET_AUDIENCE' | translate }}:</span>
                    <div class="approveTextDiv mergeText">
                        <span
                                ng-repeat="word in editInfo.target.expression track by $index"
                                ng-class="{
                              mergeAdd:1===editInfo.target.type[$index],
                              mergeRm:2===editInfo.target.type[$index]
                              }">
                            {{word}} </span>
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>{{ 'TRAINING_PAGE_PLACE' | translate }}:</span>
                    <div class="approveTextDiv mergeText">
                        <span
                                ng-repeat="word in editInfo.place.expression track by $index"
                                ng-class="{
                              mergeAdd:1===editInfo.place.type[$index],
                              mergeRm:2===editInfo.place.type[$index]
                              }">
                            {{word}} </span>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <!--<div>-->
                    <!--<span>Trainer:</span>-->
                    <!--<div class="approveTextDiv">-->
                        <!--{{training.trainerName}}-->
                    <!--</div>-->
                <!--</div>-->
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>{{ 'ADMIN_APPROVE_EDIT_MAX_OLD' | translate }}:</span>
                    <div class="approveTextDiv">
                        {{editInfo.oldMax_participants}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>{{ 'ADMIN_APPROVE_EDIT_MAX_NEW' | translate }}:</span>
                    <div class="approveTextDiv">
                        {{editInfo.newMax_participants}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>{{ 'ADMIN_APPROVE_EDIT_PAID_OLD' | translate }}:</span>
                    <div class="approveTextDiv">
                        {{editInfo.oldPaid}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>{{ 'ADMIN_APPROVE_EDIT_PAID_NEW' | translate }}:</span>
                    <div class="approveTextDiv">
                        {{editInfo.newPaid}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>{{ 'ADMIN_APPROVE_EDIT_INTERNAL_OLD' | translate }}:</span>
                    <div class="approveTextDiv">
                        {{editInfo.oldInternal}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>{{ 'ADMIN_APPROVE_EDIT_INTERNAL_NEW' | translate }}:</span>
                    <div class="approveTextDiv">
                        {{editInfo.newInternal}}
                    </div>
                </div>

                <div class="col-md-6 approveRadio approveWrapDiv">
                    <button type="button"
                            class="btn editDatesButton approveButton"
                            ng-click="approve()">
                        {{ 'ADMIN_APPROVE_EDIT_APPROVE' | translate }}
                    </button>
                </div>
                <div class="col-md-6  approveRadio approveWrapDiv">
                    <button type="button"
                            class="btn btn-danger approveButton"
                            ng-click="dismiss()">
                        {{ 'ADMIN_APPROVE_EDIT_DISMISS' | translate }}
                    </button>
                </div>



                <div class="col-md-12 buttons approveRadio" ng-cloak>
                    <button class="btn editDatesButton approveButton"
                            ng-click="changeCollapse()">
                        <span>
                            {{ showInput | translate }} {{ 'TRAINING_PAGE_DATES' | translate }}
                        </span>
                    </button>
                </div>
                <div class="col-md-6 dateTime"
                     collapse="isCollapsed">
                    <span>Old dates:</span>
                    <div >
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>date</th>
                                <th>time</th>
                            </tr>
                            <tr ng-repeat="curTraining in editInfo.oldDates">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{editInfo.oldDateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{editInfo.oldTime[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 dateTime"
                     collapse="isCollapsed">
                    <span>New dates:</span>
                    <div>
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>date</th>
                                <th>time</th>
                            </tr>
                            <tr ng-repeat="curTraining in editInfo.newDates">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{editInfo.newDateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{editInfo.newTime[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>