<div class="container wrappered">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="titleTrainingPage ">Approve</h1>
        </div>
    </div>

    <div classs="row " style="padding-top: 50px">
        <div class="col-md-12 LeftTextBlock">
            <div class="col-md-6">
                <div class="approveWrapDiv">
                    <span>Training name:</span>
                    <div class="approveTextDiv">
                        {{editInfo.name}}
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>Annotation:</span>
                    <div class="approveTextDiv">
                        {{editInfo.annotation}}
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>Description:</span>
                    <div class="approveTextDiv">
                        {{editInfo.description}}
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>Target audience:</span>
                    <div class="approveTextDiv">
                        {{editInfo.target}}
                    </div>
                </div>
                <div class="approveWrapDiv">
                    <span>Place:</span>
                    <div class="approveTextDiv">
                        {{editInfo.place}}
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <!--<div>-->
                    <!--<span>Trainer:</span>-->
                    <!--<div class="approveTextDiv">-->
                        <!--{{training.trainerName}}-->
                    <!--</div>-->
                <!--</div>-->
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>Max participants old value:</span>
                    <div class="approveTextDiv">
                        {{editInfo.oldMax_participants}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>Max participants new value:</span>
                    <div class="approveTextDiv">
                        {{editInfo.newMax_participants}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>Paid/Free old value:</span>
                    <div class="approveTextDiv">
                        {{editInfo.oldPaid}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>Paid/Free new value:</span>
                    <div class="approveTextDiv">
                        {{editInfo.newPaid}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>Internal/External old value:</span>
                    <div class="approveTextDiv">
                        {{editInfo.oldInternal}}
                    </div>
                </div>
                <div class="approveRadio col-md-6 approveWrapDiv">
                    <span>Internal/External new value:</span>
                    <div class="approveTextDiv">
                        {{editInfo.newInternal}}
                    </div>
                </div>

                <div class="col-md-6 approveRadio approveWrapDiv">
                    <button type="button"
                            class="btn editDatesButton approveButton">
                        Approve
                    </button>
                </div>
                <div class="col-md-6  approveRadio approveWrapDiv">
                    <button type="button"
                            class="btn btn-danger approveButton">
                        Dismiss
                    </button>
                </div>



                <div class="col-md-12 buttons approveRadio" ng-cloak>
                    <button class="btn editDatesButton approveButton"
                            ng-click="changeCollapse()">
                        <span>{{showInput}} dates</span>
                    </button>
                </div>
                <div class="col-md-6 dateTime"
                     collapse="isCollapsed">
                    <span>Old dates:</span>
                    <div >
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>date</th>
                                <th>time</th>
                            </tr>
                            <tr ng-repeat="curTraining in training.oldDates">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{training.dateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{training.time[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 dateTime"
                     collapse="isCollapsed">
                    <span>New dates:</span>
                    <div>
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>date</th>
                                <th>time</th>
                            </tr>
                            <tr ng-repeat="curTraining in training.meets">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{training.dateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{training.time[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>