/*.newsTitle {*/
    /*padding-top: 200px;*/
/*}*/

.news {
     padding-bottom: 0;
    margin-bottom: 0;
 }

.alert {
    margin-bottom: 10px;
}

.searchFilter {
    margin-bottom: 10px;
}

.pagination > .active > a,
.dropDownButton {
    background-color: #2E729F;
}