<div ng-include="navigation.url">
</div>


<div class="container">
    <div classs="row ">
        <div class="col-md-7 col-md-offset-2 text-center">
            <span class="titleTrainingPage "> {{training.name}}</span>
        </div>
        <div class="col-md-2 " ng-controller="ratingController">
            <span class="rating">
                <rating ng-model="currentRating"
                 max="maxRating"
                 readonly="isRatingReadonly"
                 on-hover="hoveringOver(value)"
                 on-leave="overStar=null">
                </rating>{{overStar}}
            </span>
        </div>
    </div>
    <div classs="row " style="padding-top: 50px">
        <div class="col-md-8 jumbotron textBlock" >
            <span>Annotation:</span>{{training.annotation}}<p></p>
            <span>Date:</span>{{training.date}}<p></p>
        </div>

        <div class="col-md-4">
            <div style="display:inline-block; min-height:290px;">
                <datepicker ng-model="dt"
                            min-date="minDate"
                            show-weeks="true"
                            class="well well-sm"
                            custom-class="getDayClass(date, mode)">
                </datepicker>
            </div>
        </div>
    </div>

    <div classs="row  ">
        <div class="col-md-8 feedbackS" >
            <textarea class="feedbackTextarea" placeholder="Leave your feedback here please"></textarea>
        </div>
        <div class="col-md-4 ">
            <button type="button" class="btn btn-primary ">Send</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>


</div>