
.titleTrainingPage{
    font-size:25px;
    font-weight:700;
}

.rating{
   color: #032539;
   font-size:25px;
   margin-left: 30px;
}

.textBlock{
   padding-top:10px;
   padding-left:10px;
   margin-left:10px;
   min-height:280px;
   font-size:16px;;
}

.LeftTextBlock{
   padding-top:10px;
   padding-left:10px;
   margin-left:10px;
   min-height:280px;
   font-size:14px;;
}

.LeftTextBlock span{
   font-size:16px;
   font-weight:700;
}

.breakText{
   white-space: pre-line;
}

.textBlock span{
   font-size:18px;
   font-weight:700;
}

.textBlock pre{
   font-size:14px;
   font-weight:700;

}

.textBlock th{
   min-width: 40px;
}

.textBlock tr{
   max-height: 40px;
}

.feedbackS{
   font-size:16px;
   font-weight:700;
}

.feedbackTextarea{
   resize: none;
   min-height: 120px;
   width:100%;
}

.feedbackButton{
   padding-top:47px;
}


 .full button span {
    background-color: limegreen;
    border-radius: 16px;
    color: black;
 }
.partially button span {
   background-color: orange;
   border-radius: 16px;
   color: black;
}

.commentBlock{
   padding-top:10px;
   padding-left:10px;
   margin-left:10px;
   font-size:14px;
   font-weight:500;
   border-bottom: 3px solid #555555;
   border-top: 3px solid #555555;
}

.rightForm{
   border-left: 2px solid #555555;
}

.buttons button{
   margin-top:5px;
   width:100%;
   min-height: 30px;
}

.buttons div{
   padding-right: 5px;
   padding-left: 10px;
}

.dateEditInput{
   padding-left: 0px;
}

.editDatesButton {
   background-color: #2E729F;
   color: white;
}

@media screen and (min-width: 992px) {
   .editDatesButton {
      float: right;
   }
}

.editDatesButton:focus{
   background-color: #2E729F;
   color: white;
}

.editDatesButton:hover{
   color: white;
   background-color: #006dcc;
}

.modalInput{
   margin: 10px;
   width:90%;
}

.modalWrapper{
   margin-top: 10px;
}

.newWell{
   border: 1px solid #e3e3e3;
   border-radius: 4px;
}



.scrollTable1{
   width:50px;
   overflow-x: scroll;
   border-radius: 0;
}

.scrollTable2{
   max-width: 680px;
   overflow-x: scroll;
   border-radius: 0;
}

.scrollTable2 tr{
   height: 40px;
}
.scrollTable1 tr{
   height: 40px;
}