
.titleTrainingPage{
    color: #0c004c;
    font-size:25px;
    font-weight:700;
}

.rating{
   color: blue;
   font-size:25px;
   margin-left: 30px;
}

.textBlock{
   padding-top:40px;
   padding-left:10px;
   margin-left:10px;
   min-height:280px;
   font-size:16px;;
}


.textBlock span{
   font-size:18px;
   font-weight:700;
}


.textBlock p{
   font-size:5px;
   font-weight:700;
}

.feedbackS{
   font-size:16px;
   font-weight:700;
}

.feedbackTextarea{
   resize: none;
   min-height: 120px;
   width:100%;
}

.feedbackButton{
   padding-top:47px;
   /*padding-bottom:47px;*/
}


 .full button span {
    background-color: limegreen;
    border-radius: 16px;
    color: black;
 }
.partially button span {
   background-color: orange;
   border-radius: 16px;
   color: black;
}

.commentBlock{
   padding-top:10px;
   padding-left:10px;
   margin-left:10px;
   min-height: 50px;
   font-size:14px;
   font-weight:500;
}