<div ng-controller="navigationController">
    <nav class="navbar navBarBackground">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <li>
                        <a href="" class="logo">
                        <span>
                            Exadel<sup class="trademark"><sup> &reg</sup></sup>
                        </span>
                        </a>
                    </li>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isActive('/ui/trainings')}"><a href=""  class="navBarText" ng-click="goToTrainings()">Calendar</a></li>
                        <li ng-class="{ active: isActive('/ui/create')}"><a href=""  class="navBarText" ng-click="createTraining()">Create training</a></li>
                        <li ng-class="{ active: isActive('/ui/news')}"><a href=""  class="navBarText" ng-click="goToNews()">News</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" class="navBarText" ng-click="logout()">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
                        <li >
                            <form>
                                    <input type="search"
                                           class="form-control inputSearch"
                                           ng-change="doSearch()"
                                           placeholder="Search"
                                           ng-model="searchExpression"
                                           ng-model-options="{ debounce: 400 }">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div ng-show="noResultsFound">
        <h2 class="text-center newsTitle" style="padding-top: 200px"><small>Oops! We have not found such expressions :)</small></h2>
    </div>

    <ol  class="wrappered container" ng-show="searchExpression">
        <!--<div class="col-md-2 col-md-offset-12 closeSearch">-->
                <!--<span class="glyphicon glyphicon-remove"></span>-->
        <!--</div>-->
        <div class="searchText  border1" ng-repeat="training in searchResponse" >
            <div >
                <div class="col-md-7 col-md-offset-2">
                    <a href="http://localhost:8080/ui/trainingPage/user"> {{training.name}} </a>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-4 col-md-offset-2">
                    {{training.date}}
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-7 col-md-offset-2" style="margin-top: 10px">
                {{training.annotation}}
                <p></p>
            </div>
        </div>
    </ol>
</div>