<div ng-controller="navigationController">
    <nav class="navbar navBarBackground">
        <div class="container fullNavigationBar">
            <div class="row">
                <div class="navbar-header col-md-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <li>
                        <a href="/ui/trainings" class="logo">
                        <span>
                            Exadel<sup class="trademark"><sup> &reg</sup></sup>
                        </span>
                        </a>
                    </li>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isActive('/ui/trainings')}"><a href=""  class="navBarText" ng-click="goToTrainings()">{{ 'HEADER_CALENDAR' | translate }}</a></li>
                        <li ng-class="{ active: isActive('/ui/create')}"><a href=""  class="navBarText" ng-click="createTraining()">{{ 'HEADER_CREATE_TRAINING' | translate }}</a></li>
                        <li ng-class="{ active: isActive('/ui/news')}"><a href=""  class="navBarText" ng-click="goToNews()">{{ 'HEADER_NEWS' | translate }} <span class="badge">{{badgeCount}}</span></a></li>
                        <li ng-if="isAdmin" ng-class="{ active: isActive('/ui/reports')}"><a href=""  class="navBarText" ng-click="goToReports()">{{ 'HEADER_REPORTS' | translate }}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <form>
                                <input type="search"
                                       class="form-control inputSearch"
                                       ng-change="doSearch()"
                                       placeholder="{{ 'HEADER_SEARCH_PLACEHOLDER' | translate }}"
                                       ng-model="searchExpression"
                                       ng-model-options="{ debounce: 400 }">
                            </form>
                        </li>
                        <li><a class="navBarText userName">{{name}} <span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="" class="navBarText" ng-click="logout()">{{ 'HEADER_LOG_OUT' | translate }} <span class="glyphicon glyphicon-log-out"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <a href="" ng-click="changeLanguage('en')" class="englishButton">
        <img src="/res/navigation/png/en.png" alt="en" class="englishImg">
    </a>
    <a href="" ng-click="changeLanguage('ru')" class="russianButton">
        <img src="/res/navigation/png/ru.png" alt="ru" class="russianImg">
    </a>

    <div ng-show="noResultsFound" class="noResultsFound">
        <h2 class="text-center newsTitle"><small>{{ 'SEARCH_NO_RESULTS' | translate }}</small></h2>
    </div>

    <ol  class="wrappered container" ng-show="searchExpression">
        <div class="searchText searchResBox row" ng-repeat="training in searchResponse">
            <hr>
            <div class="col-md-9">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <h4><a href ng-click="redirectToTrainingPage(training.id)">{{training.name}}</a></h4>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10 col-md-offset-1">{{training.annotation}}</div>

            </div>
            <div class="col-md-3">
                <div class="dateTime">
                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span> {{training.dateNum[0]}} {{ training.month[0] | translate }} {{training.year[0]}}
                    <span class="glyphicon glyphicon-time" style="color: grey"></span> {{training.time[0]}}
                </div>
                <div class="dateTime" ng-if="training.dateNum[1]">
                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span>
                    {{training.dateNum[training.dates.length - 1]}}
                    {{ training.month[training.dates.length - 1] | translate }}
                    {{training.year[training.dates.length - 1]}}
                    <span class="glyphicon glyphicon-time" style="color: grey"></span> {{training.time[training.dates.length - 1]}}
                </div>
            </div>
        </div>
    </ol>
</div>