<div ng-controller="navigationController">
    <nav class="navbar navBarBackground">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <li>
                        <a href="/ui/trainings" class="logo">
                        <span>
                            Exadel<sup class="trademark"><sup> &reg</sup></sup>
                        </span>
                        </a>
                    </li>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isActive('/ui/trainings')}"><a href=""  class="navBarText" ng-click="goToTrainings()">Calendar</a></li>
                        <li ng-class="{ active: isActive('/ui/create')}"><a href=""  class="navBarText" ng-click="createTraining()">Create training</a></li>
                        <li ng-class="{ active: isActive('/ui/news')}"><a href=""  class="navBarText" ng-click="goToNews()">News</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" class="navBarText" ng-click="logout()">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
                        <li >
                            <form>
                                <input type="search"
                                       class="form-control inputSearch"
                                       ng-change="doSearch()"
                                       placeholder="Search"
                                       ng-model="searchExpression"
                                       ng-model-options="{ debounce: 400 }">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div ng-show="noResultsFound">
        <h2 class="text-center newsTitle" style="padding-top: 200px"><small>Oops! We have not found such expressions :)</small></h2>
    </div>

    <ol  class="wrappered container" ng-show="searchExpression">
        <div class="searchText searchResBox row" ng-repeat="training in searchResponse">
            <hr>
            <div class="col-md-9">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <h4><a href ng-click="redirectToTrainingPage()">{{training.name}}</a></h4>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10 col-md-offset-1">{{training.annotation}}</div>

            </div>
            <div class="col-md-3">
                <div class="dateTime">
                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span> {{training.dateTime[0]}} {{training.year[0]}}
                    <span class="glyphicon glyphicon-time" style="color: grey"></span> {{training.time[0]}}
                </div>
                <div class="dateTime" ng-if="training.dateTime[1]">
                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span> {{training.dateTime[1]}} {{training.year[1]}}
                    <span class="glyphicon glyphicon-time" style="color: grey"></span> {{training.time[1]}}
                </div>
            </div>
        </div>
    </ol>
</div>