* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.inputSearch {
    margin-top: 8px;
    margin-bottom: 8px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.wrappered {
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer h5 {
    padding-top: 50px;
}

.navBarBackground{
    background-color: #032539;
    border-radius: 0;
    border: 0;
}

@media(max-width:767px)  {
    .inputSearch {
        margin-top: 0;
        width: 98%;
        margin-left: 1%;
    }
}

@media(max-width:1200px)  {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: auto !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        width: 100%;
    }

}

.navbar-header {
    padding-right: 0;
}

.navbar-header li {
    list-style-type: none;
}

.icon-bar {
    background-color: white;
}

.closeSearch{

    font-size:34px;
    color:#ec971f;
}

.navBarText{
    color:white;
    font-size:14px;
    align-items: center;
    font-weight:900;
}

.overflow {
    overflow: auto;
    height: 400px;
    margin-top: 10px;
    background-color:white;
}

.logo {
    color:white;
    font-size:34px;
    font-style: italic;
    align-items: center;
    font-weight:900;
}

.fullNavigationBar {
    margin: 0;
    width: 100%;
}

.dateTime {
    padding-top: 10px;
}

.logo:link, .logo:hover, .logo:active, .logo:visited {
    text-decoration: none;
    color:white;
}

.userName:hover {
    background-color: #032539 !important;
    color: white;
}

.trademark {
    font-size:18px;
}

.searchingPanel {
    vertical-align: middle;
}

.active {
    background-color: #eee;
}

.active a  {
    color: #235580;
}

@media screen and (min-width: 992px) {
    .inputSearch {
        width: 300px;
    }
}

.searchResBox{
    padding-bottom: 20px
}

.russianImg,
.englishImg {
    border: 1px solid darkgrey;
}

.russianButton,
.englishButton {
    margin-top: -15px;
    padding-bottom: 10px;
    float: right;
    padding-right: 0.6%;
}

.noResultsFound {
    padding-top: 20%;
}

.logoElem {
    margin-left: 10px;
    margin-right: 10px;
}