<div class="container wrappered">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span class="titleTrainingPage "> {{training.name}}</span>
        </div>
        <div class="col-md-2 " ng-controller="ratingController">
            <span class="rating">
                <rating ng-model="training.rate"
                        max="maxRating"
                        readonly="true"
                        on-leave="overStar=null">
                </rating>
            </span>
        </div>
    </div>

    <div classs="row " style="padding-top: 50px">
        <div class="col-md-8 newWell textBlock" >
            <div class="breakText">
                <span>Annotation:<br></span>{{training.annotation}}
            </div>
            <div class="breakText">
                <span>Description:<br></span>{{training.description}}
            </div>
            <div class="breakText">
                <span>Target audience:<br></span>{{training.target}}
            </div>

            <div class="breakText">
                <span>Subscribers:</span>
            </div>


            <table>
                <tr>
                    <td class=>
                        <div tooltip-placement="top"
                             tooltip-popup-delay='3000'
                             tooltip="double click to leave absent reason"
                             class="panel panel-default table-responsive scrollTable1">
                            <table class="table table-bordered">
                                <tr>
                                    <th>#</th>
                                </tr>
                                <tr ng-repeat="subscriber in subscribers">
                                    <td >{{$index+1}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td >
                        <div tooltip-placement="top"
                             tooltip-popup-delay='3000'
                             tooltip="double click to leave absent reason"
                             class="panel panel-default table-responsive scrollTable2">
                            <table class="table table-bordered">
                                <tr>
                                    <th> user</th>
                                    <th>status</th>
                                    <th ng-repeat="date in training.dates">
                                        {{$index+1}}
                                    </th>
                                </tr>
                                <tr ng-repeat="subscriber in subscribers">
                                    <td nowrap>{{subscriber.name}}</td>
                                    <td>{{subscriber.status}}</td>
                                    <td table-catch-directive ng-repeat="date in training.dates" class="{{subscriber.id+' '+date}}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>


            <div class="breakText ">
                <span>Coments:</span>
            </div>
            <div class="panel panel-default " ng-repeat="coment in feedbacks">
                <table class="table" >
                    <tr >
                        <td>
                            <div>
                                <rating ng-model="coment.rate" readonly=true max="5">
                                </rating>
                                <div>
                                    <label class="control-label ">Understand all: {{coment.understand|yesNoFilter}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">Interested in: {{coment.interested|yesNoFilter}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">Like to learn from this coach: {{coment.continueWithThisTrainer|yesNoFilter}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">Learn something new: {{coment.smthNew|yesNoFilter}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">Recommend to your colleagues to visit this training: {{coment.recommend|yesNoFilter}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">Other: {{coment.other}}</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-md-3 newWell LeftTextBlock" >
            <div class="breakText">
                <span>Trainer:</span>{{training.trainerName}}
            </div>
            <div class="breakText">
                <span>Time:</span>
            </div>
            <div class="breakText">
                <span>Place:</span>{{training.place}}
            </div>

            <div class="row buttons">
                <div class="col-md-6 ">
                    <button type="button" class="btn  editDatesButton " ng-click="editTraining()">Edit training</button>
                </div>
                <div class="col-md-6 ">
                    <button type="button" class="btn btn-danger " ng-click="subscribe()">Remove training</button>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-md-12"  ng-cloak>
                    <button class="btn btn-default"
                            ng-click="changeCollapse.dates()">
                        <span>{{show.dates}} dates</span>
                    </button>
                </div>
                <div class="col-md-12 dateTime">
                    <div collapse="isCollapsed.dates">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>date</th>
                                <th>time</th>
                            </tr>
                            <tr ng-repeat="curTraining in training.dates">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{training.dateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{training.time[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 buttons"  ng-cloak>
                    <button class="btn btn-default"
                            ng-click="changeCollapse.subscribers()">
                        <span>{{show.subscribers}} subscribers</span>
                    </button>
                </div>
                <div class="col-md-12 dateTime">
                    <div collapse="isCollapsed.subscribers">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>subscriber</th>
                            </tr>
                            <tr ng-repeat="subscriber in subscribers">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{subscriber.name}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 textBlock newWell">

        </div>
    </div>





</div>