<div class="container">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span class="titleTrainingPage "> {{training.name}}</span>
        </div>
        <div class="col-md-2 " >
            <span class="rating">
                <rating ng-model="currentRating"
                        max="5">
                </rating>{{overStar}}
            </span>
        </div>
    </div>
    <div classs="row " style="padding-top: 50px">
        <div class="col-md-7 well textBlock" >
            <span>Annotation:</span>{{training.annotation}}<p></p>
            <span>Date:</span>{{training.date}}<p></p>
            <span>Target audience:</span>{{training.date}}<p></p>
        </div>
        <div class="col-md-4 well textBlock " >
            <span>Trainer:</span>Diadia fedia<p></p>
            <span>Time:</span>{{training.date}}<p></p>
            <span>Place:</span>{{training.date}}<p></p>
            <span>Duration:</span>{{training.date}}<p></p>
            <button type="button" class="btn btn-primary ">Edit training info</button>
        </div>
    </div>

        <div classs="row " ng-repeat="feedback in feedbacks">
            <!--<hr>-->
            <div class="col-md-11 commentBlock" >
                <div>
                    <rating ng-model="feedback.rate"
                            readonly=true
                            max="5">
                    </rating>
                </div>
                <div>
                    <label class="control-label ">Understand all: {{feedback.understand|yesNoFilter}}</label>
                </div>
                <div>
                    <label class="control-label ">Interested in: {{feedback.interested|yesNoFilter}}</label>
                </div>
                <div>
                    <label class="control-label ">Like to learn from this coach: {{feedback.continueWithThisTrainer|yesNoFilter}}</label>
                </div>
                <div>
                    <label class="control-label ">Learn something new: {{feedback.smthNew|yesNoFilter}}</label>
                </div>
                <div>
                    <label class="control-label ">Recommend to your colleagues to visit this training: {{feedback.recommend|yesNoFilter}}</label>
                </div>
                <div>
                    <label class="control-label ">Other: {{feedback.other}}</label>
                </div>
            </div>
        </div>

</div>