<div class="container wrappered">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="titleTrainingPage "> {{training.name}}</h1>
        </div>
        <div class="col-md-2 " ng-controller="ratingController">
            <span class="rating">
                <rating ng-model="training.rate"
                        max="maxRating"
                        readonly="true"
                        on-leave="overStar=null">
                </rating>
            </span>
        </div>
    </div>

    <div classs="row " style="padding-top: 50px">
        <div class="col-md-8 newWell textBlock" >
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_ANNOTATION' | translate }}<br></span>{{training.annotation}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_DESCRIPTION' | translate }}<br></span>{{training.description}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_TARGET_AUDIENCE' | translate }}<br></span>{{training.target}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_MAX_PARTICIPANTS' | translate }}<br></span>{{training.max_participants}}
            </div>
            <div class="breakText" ng-show="subscribers.length > 0">
                <span>{{ 'TRAINING_PAGE_PARTICIPANTS' | translate }}</span>
            </div>

            <table ng-show="subscribers.length > 0">
                <tr>
                    <td class=>
                        <div tooltip-placement="top"
                             tooltip-popup-delay='3000'
                             tooltip="double click to leave absent reason"
                             class="panel panel-default table-responsive scrollTable1">
                            <table class="table table-bordered">
                                <tr>
                                    <th>#</th>
                                </tr>
                                <tr ng-repeat="subscriber in subscribers|filter:'Approve'">
                                    <td >{{$index+1}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td >
                        <div tooltip-placement="top"
                             tooltip-popup-delay='3000'
                             tooltip="double click to leave absent reason"
                             class="panel panel-default  table-responsive scrollTable2">
                            <table class="table table-bordered">
                                <tr>
                                    <th>{{ 'TRAINING_PAGE_USER' | translate }}</th>
                                    <th ng-repeat="meet in training.meets">
                                        <!--{{$index+1}}-->
                                        {{training.tableDate[$index]}}
                                    </th>
                                </tr>
                                <tr ng-repeat="subscriber in subscribers|filter:'Approve'">
                                    <td nowrap>{{subscriber.name}}</td>
                                    <td table-catch-directive ng-repeat="meet in training.meets"
                                        class="{{subscriber.id+' '+meet.id}} tableDate"
                                        data-toggle="tooltip" title="{{subscriber.participants[$index].reason}}">{{subscriber.participants[$index].absent|attendanceFilter}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td>

                    </td>
                    <td>
                        <div class=" buttonBottom" ng-show="subscribers.length > 0">
                            <button type="button" class="btn  editDatesButton subscribersTable" ng-click="acceptAttendanceChanges()">
                                {{ 'TRAINING_PAGE_SAVE_CHANGES' | translate }}</button>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="breakText " ng-show="feedbacks.length > 0">
                <span>{{ 'TRAINING_PAGE_COMMENTS' | translate }}:</span>
            </div>
            <div class="panel panel-default " ng-repeat="coment in feedbacks">
                <table class="table" >
                    <tr >
                        <td>
                            <div>
                                <rating ng-model="coment.rate" readonly=true max="5">
                                </rating>
                                <div>
                                    <label class="control-label ">
                                        {{ 'USER_FEEDBACK_UNDERSTAND' | translate }}: {{coment.understand|yesNoFilter| translate }}</label>
                                </div>
                                <div>
                                    <label class="control-label ">
                                        {{ 'USER_FEEDBACK_INTERESTED' | translate }}:
                                        {{coment.interested|yesNoFilter| translate}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">
                                        {{ 'USER_FEEDBACK_LIKE' | translate }}:
                                        {{coment.continueWithThisTrainer|yesNoFilter| translate}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">
                                        {{ 'USER_FEEDBACK_NEW' | translate }}:
                                        {{coment.smthNew|yesNoFilter| translate}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">
                                        {{ 'USER_FEEDBACK_RECOMMEND' | translate }}:
                                        {{coment.recommend|yesNoFilter| translate}}</label>
                                </div>
                                <div>
                                    <label class="control-label ">
                                        {{ 'USER_FEEDBACK_OTHER' | translate }}: {{coment.other}}</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-md-3 newWell LeftTextBlock" >
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_TRAINER' | translate }}: </span>{{training.trainerName}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_TIME' | translate }}: </span>{{training.nearest}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_PLACE' | translate }}: </span>{{training.place}}
            </div>

            <div class="row buttons">
                <div class="col-md-6 ">
                    <button type="button" class="btn  editDatesButton" ng-click="editTraining()">
                        {{ 'TRAINING_PAGE_EDIT_TRAINING' | translate }}</button>
                </div>
                <div class="col-md-6 ">
                    <button type="button" class="btn btn-danger " ng-click="">
                        {{ 'TRAINING_PAGE_REMOVE_TRAINING' | translate }}</button>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-md-12">
                    <button class="btn btn-default editDatesButton "
                            ng-click="openModal()">{{ 'TRAINING_PAGE_FEEDBACK_ON_USER' | translate }}</button>
                </div>
                <div class="col-md-12"  ng-cloak>
                    <button class="btn editDatesButton"
                            ng-click="changeCollapse.dates()">
                        {{show.dates|translate}} {{ 'TRAINING_PAGE_DATES' | translate }}
                    </button>
                </div>
                <div class="dateTime">
                    <div collapse="isCollapsed.dates">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>{{ 'TRAINING_PAGE_DATE' | translate }}</th>
                                <th>{{ 'TRAINING_PAGE_TIME' | translate }}</th>
                            </tr>
                            <tr ng-repeat="curTraining in training.meets">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{training.dateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{training.time[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 buttons"  ng-cloak ng-show="subscribers.length > 0">
                    <button class="btn editDatesButton"
                            ng-click="changeCollapse.subscribers()">
                        {{show.subscribers|translate}} {{ 'TRAINING_PAGE_SUBSCRIBERS' | translate }}
                    </button>
                </div>
                <div class="col-md-12 dateTime" ng-show="subscribers.length > 0">
                    <div collapse="isCollapsed.subscribers">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>{{ 'TRAINING_PAGE_SUBSCRIBER' | translate }}</th>
                                <th>{{ 'TRAINING_PAGE_STATE' | translate }}</th>
                            </tr>
                            <tr ng-repeat="subscriber in subscribers">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{subscriber.name}}
                                </td>
                                <td><span class="glyphicon"
                                          ng-class="{
                                          'glyphicon-ok glyphGreen': subscriber.status==='Approve',
                                          'glyphicon-remove glyphRed': subscriber.status==='Deleted',
                                          'glyphicon-time glyphYellow': subscriber.status==='Wait',
                                          }"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>