<div classs="row " >
    <div class=" textBlock " >
        <form ng-submit = "submit()">

            <div class="trainerFedbackInputDiv">
                <label >{{ 'REPORTS_SELECT_EMPLOYEE_TITLE' | translate }}:</label>
                <select ng-model="feedback.employeeId"
                        class="form-control">
                    <option value="" disabled selected>{{ 'TRAINER_FEEDBACK_CHOOSE' | translate }}</option>
                    <option ng-repeat="item in subscribers|filter:'Approve'" value={{item.id}}>{{item.name}}</option>
                </select>
            </div>

            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_ATTENDANCE' | translate }}: </label>
                <input type="text" class="form-control" ng-model="feedback.presence" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_ATTITUDE' | translate }}: </label>
                <input type="text" class="form-control" ng-model="feedback.attitude" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_COMMUNICATION' | translate }}: </label>
                <input type="text" class="form-control" ng-model="feedback.communication" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_QUESTIONS' | translate }}:</label>
                <input type="text" class="form-control" ng-model="feedback.question" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_INTERESTED_MOTIVATION' | translate }}:</label>
                <input type="text" class="form-control" ng-model="feedback.interest" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_RESULTS_FOCUS' | translate }}:</label>
                <input type="text" class="form-control" ng-model="feedback.result" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_LEVEL' | translate }}:</label>
                <input type="text" class="form-control" ng-model="feedback.level" required>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_EVALUATION' | translate }}:</label>
                <div ng-controller="ratingController">
                    <span >
                        <rating ng-model="feedback.rating"
                                max="4"
                                state-on="'glyphicon-ok-sign'"
                                state-off="'glyphicon-ok-circle'"
                                on-hover="hoveringOver(value)"
                                on-leave="overStar=null"
                                required
                                >
                        </rating>{{overStar}}
                        <div class="requiredText" ng-show="rateshow">{{ 'TRAINER_FEEDBACK_RATING_CHOOSE' | translate }}</div>
                    </span>
                </div>
            </div>
            <div class="trainerFedbackInputDiv">
                <label class="control-label ">{{ 'TRAINER_FEEDBACK_OTHER' | translate }}:</label><textarea type="text" rows="3"
                                                                      class="form-control"
                                                                      ng-model="feedback.other" ></textarea><p></p>
            </div>
            <div class="trainerFedbackInputDiv">
                <button type="submit" class="btn btn-primary ">{{ 'TRAINER_FEEDBACK_SEND' | translate }}</button>
                <input type="button" value="{{ 'TRAINER_FEEDBACK_CANCEL' | translate }}" ng-click="cancel()" class="btn btn-danger ">
            </div><br>
        </form>
    </div>
</div>
