<div classs="row " >
    <div class=" textBlock" >
        <form ng-submit = "submit()">
            <div>
                <label class="control-label ">Did you understand all? </label>
                <div class="radio">
                    <label><input type="radio" value="true" name="understand" ng-model="feedback.understand">yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="understand" ng-model="feedback.understand">no</label>
                </div>
                <p></p>
            </div>
            <div >
                <label class="control-label ">whether you're interested in?</label>
                <div class="radio">
                    <label><input type="radio" value="true" name="interested" ng-model="feedback.interested">yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="interested" ng-model="feedback.interested">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <label class="control-label ">Would you like to learn from this coach?</label>
                <div class="radio">
                    <label><input type="radio" value="true" name="continueWithThisTrainer" ng-model="feedback.continueWithThisTrainer">yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="continueWithThisTrainer" ng-model="feedback.continueWithThisTrainer">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <label class="control-label ">Did you learn something new?</label>
                <div class="radio">
                    <label><input type="radio" value="true" name="smthNew" ng-model="feedback.smthNew">yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="smthNew" ng-model="feedback.smthNew">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <label class="control-label ">Would you recommend to your colleagues to visit this training?</label>
                <div class="radio">
                    <label><input type="radio" value="true" name="recommend" ng-model="feedback.recommend">yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="recommend" ng-model="feedback.recommend">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <label class="control-label ">how effectively the last session (Rate from 1 to 5)?</label>
                <div ng-controller="ratingController">
                    <span >
                        <rating ng-model="feedback.rate"
                                max="5"
                                readonly="isRatingReadonly"
                                on-hover="hoveringOver(value)"
                                on-leave="overStar=null"
                                >
                        </rating>{{overStar}}
                    </span>
                </div>
                <p></p>
            </div>
            <div>
                <label class="control-label ">Other:</label><textarea type="text" rows="3"
                                                                      class="form-control"
                                                                      ng-model="feedback.other" ></textarea><p></p>
            </div>
            <button type="submit" class="btn btn-primary ">Send feedback</button>
            <p></p>
        </form>
    </div>
</div>
