<div class="container wrappered">
    <div class="row">
        <div class="col-md-12 text-center"><h1>Trainings calendar<br><br></h1></div>
            <div class="col-md-5 col-sm-5">
                <div class="months">
                    <div ng-repeat-start="x in months">
                        <div class="monthItem">{{x.month}}<br>{{x.year}}</div><hr>
                        <div class="monthItem"></div><hr>
                        <div class="monthItem"></div><hr>
                        <div class="monthItem"></div><hr>
                    </div>
                    <div ng-if="$index > 0" class="monthItem"></div>
                    <hr ng-if="$index > 0">
                    <div ng-repeat-end ng-hide></div>
                </div>
                <div class="days" on-click-directive>
                    <a href="" ng-repeat-start="x in days" on-finish-render="ngRepeatFinished">
                        <div class="dayItem fulldate_{{x.year}}-{{x.month}}-{{x.date}} day-{{x.day}} month-{{x.month}}">
                            <p>{{x.date}}</p>
                        </div>
                    </a>
                    <hr ng-if="(($index+1) % 7) == 0">
                    <div ng-repeat-end ng-hide></div>
                </div>
            </div>
            <div class="lineEvents col-md-7 col-sm-7 col-xs-12">
                    <div ng-repeat="line in description">
                        <div class="lineDescription">
                            <div ng-repeat="item in line" class="description">
                                <div class="descriptionItem"><strong><a href="" ng-click="redirectToTrainingPage(item.trainingId)">{{item.name}}</a></strong><br>
                                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span> {{item.dateTime}} {{item.time}}</div>
                            </div>
                        </div>
                        <hr>
                    </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2><br>Past trainings</h2>
            <ul class="pastMeetings">
                <li ng-repeat="lastTraining in pastTrainingHistory">
                    <a href="" ng-click="redirectToTrainingPage(lastTraining.id)"><h3>{{lastTraining.name}}</h3></a>
                    {{lastTraining.dateTime}} {{lastTraining.year}}
                </li>
            </ul>
        </div>
    </div>
</div>
