<div class="container wrappered">
    <div class="row">
        <div class="col-md-12 text-center"><h1>{{ 'CALENDAR_MAIN_TITLE' | translate }}<br><br></h1></div>
            <div class="col-md-5 col-sm-5">
                <div class="months">
                    <div ng-repeat="x in months">
                        <div class="monthItem">{{ x.month | translate }}<br>{{x.year}}</div><hr>
                    </div>
                </div>
                <div class="days" on-click-directive>
                    <a href="" ng-repeat-start="x in days" on-finish-render="ngRepeatFinished">
                        <div class="dayItem fulldate_{{x.year}}-{{x.month}}-{{x.date}} day-{{x.day}} month-{{x.month}}">
                            <p>{{x.date}}</p>
                            <span class="isTrainer"></span>
                        </div>
                    </a>
                    <hr ng-if="(($index+1) % 7) == 0">
                    <div ng-repeat-end ng-hide></div>
                </div>
            </div>
            <div class="lineEvents col-md-7 col-sm-7 col-xs-12">
                    <div ng-repeat="line in description">
                        <div class="lineDescription">
                            <div ng-repeat="item in line" class="description">
                                <div class="descriptionItem">
                                    <strong>
                                        <a href="" ng-click="redirectToTrainingPage(item.trainingId)">{{item.name}}</a>
                                    </strong>
                                    <br>
                                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span>
                                    {{item.dateNum}} {{ item.month | translate }} {{item.time}}
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="willGo firstCalLeg calLegendItem">
                <p>07</p>
                <span class="glyphicon"></span>
            </div>
            <div class="calLegendDescription"> &mdash;
                {{'CALENDAR_LEGEND_I_WILL_GO' | translate }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="willNotGo secondCalLeg calLegendItem">
                <p>22</p>
                <span class="glyphicon"></span>
            </div>
            <div class="calLegendDescription"> &mdash;
                {{'CALENDAR_LEGEND_I_WILL_NOT_GO' | translate }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="willGo thirdCalLeg calLegendItem">
                <p>13</p>
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="calLegendDescription"> &mdash;
                {{'CALENDAR_LEGEND_I_TRAINER' | translate }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2><br>{{ 'CALENDAR_RECENT_TRAININGS_TITLE' | translate}}:</h2>
            <ul class="pastMeetings">
                <li ng-repeat="lastTraining in pastTrainingHistory">
                    <div><a href="" ng-click="redirectToTrainingPage(lastTraining.trainingId)"><h3>{{lastTraining.name}}</h3></a></div>
                    <div><h4><small>{{lastTraining.dateNum}} {{ lastTraining.month | translate }} {{lastTraining.year}}</small></h4></div>
                </li>
            </ul>
        </div>
    </div>
</div>
