<div>
    <div class="modal-header">
        <h3 class="modal-title">Trainings in this day:</h3>
    </div>
    <div class="modal-body" style="padding-top: 0">
        <div class="row" ng-repeat="training in curtrainings = (trainings | filter:date)" >
            <div>
                <div class="col-md-8 ">
                    <h4><a href ng-click="redirectToTrainingPage(training.id)"> {{training.name}} </a></h4>
                    {{training.annotation}}
                </div>
                <div class="col-md-4" style="padding-top: 2%">
                    <span class="glyphicon glyphicon-calendar" style="color: grey"></span> {{training.dateTime}} {{training.year}}
                    <br>
                    <span class="glyphicon glyphicon-time" style="color: grey"></span> {{training.time}}
                </div>
            </div>
            <hr>
        </div>
        <h3 ng-hide="curtrainings.length" class="text-center"><small>No trainings in this day!</small></h3>
    </div>
</div>