.reportsTitle {
    padding-bottom: 40px;
}

.printButton {
    float: right;
    background-color: #2E729F;
    color: #ffffff;
}

.selectedEmployee {
    float: right;
}

#employeeInput {
    padding-top: 5%;
}

#employeeInput,
.reportTable {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.reportTable {
    margin-top: 30px;
}

.noReports {
    padding-top: 10%;
}

.inputReport {
    padding-bottom: 10px;
}
