.reportsTitle {
    padding-bottom: 40px;
}

.printButton {
    float: right;
    background-color: #2E729F;
    color: #ffffff;
}

.selectedEmployee {
    float: right;
}

#employeeInput {
    padding-top: 13%;
}

#employeeInput,
.reportTable {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
