.reportsTitle {
    padding-bottom: 40px;
}

.printButton, .getReportButton {
    float: right;
    background-color: #2E729F;
    color: #ffffff;
}

#employeeInput {
    padding-top: 5%;
}

#employeeInput,
  .reportTable {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.noReports {
    padding-top: 5%;
}

.inputReport {
    padding-bottom: 15px;
}

.feedbackReport {
    padding: 10px;
}

.resultAccordion {
    padding-top: 30px;
}
