<div>
    <div classs="row " >
        <div class=" textBlock" >
            <form ng-submit = "submit()">
                <div>
                    <label class="control-label ">{{ 'USER_FEEDBACK_UNDERSTAND' | translate }}?</label>
                    <div class="radio">
                        <label><input type="radio" value="true"
                                      name="understand"
                                      ng-model="feedback.understand">
                            {{ 'USER_FEEDBACK_YES' | translate }}</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="false" name="understand" ng-model="feedback.understand">
                            {{ 'USER_FEEDBACK_NO' | translate }}</label>
                    </div>
                    <p></p>
                </div>
                <div >
                    <label class="control-label ">{{ 'USER_FEEDBACK_INTERESTED' | translate }}?</label>
                    <div class="radio">
                        <label><input type="radio" value="true" name="interested" ng-model="feedback.interested">
                            {{ 'USER_FEEDBACK_YES' | translate }}</label></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="false" name="interested" ng-model="feedback.interested">
                            {{ 'USER_FEEDBACK_NO' | translate }}</label>
                    </div>
                    <p></p>
                </div>
                <div>
                    <label class="control-label ">{{ 'USER_FEEDBACK_LIKE' | translate }}?</label>
                    <div class="radio">
                        <label><input type="radio" value="true" name="continueWithThisTrainer" ng-model="feedback.continueWithThisTrainer">
                            {{ 'USER_FEEDBACK_YES' | translate }}</label></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="false" name="continueWithThisTrainer" ng-model="feedback.continueWithThisTrainer">
                            {{ 'USER_FEEDBACK_NO' | translate }}</label>
                    </div>
                    <p></p>
                </div>
                <div>
                    <label class="control-label ">{{ 'USER_FEEDBACK_NEW' | translate }}?</label>
                    <div class="radio">
                        <label><input type="radio" value="true" name="smthNew" ng-model="feedback.smthNew">
                            {{ 'USER_FEEDBACK_YES' | translate }}</label></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="false" name="smthNew" ng-model="feedback.smthNew">
                            {{ 'USER_FEEDBACK_NO' | translate }}</label>
                    </div>
                    <p></p>
                </div>
                <div>
                    <label class="control-label ">{{ 'USER_FEEDBACK_RECOMMEND' | translate }}?</label>
                    <div class="radio">
                        <label><input type="radio" value="true" name="recommend" ng-model="feedback.recommend">
                            {{ 'USER_FEEDBACK_YES' | translate }}</label></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="false" name="recommend" ng-model="feedback.recommend">
                            {{ 'USER_FEEDBACK_NO' | translate }}</label>
                    </div>
                    <p></p>
                </div>
                <div>
                    <label class="control-label ">{{ 'USER_FEEDBACK_RATE' | translate }}?</label>
                    <div ng-controller="ratingController">
                        <span >
                            <rating ng-model="feedback.rate"
                                    max="5"
                                    readonly="isRatingReadonly"
                                    on-hover="hoveringOver(value)"
                                    on-leave="overStar=null"
                                    >
                            </rating>{{overStar}}
                            <div class="requiredText" ng-show="rateshow">
                                {{ 'TRAINER_FEEDBACK_RATING_CHOOSE' | translate }}</div>
                        </span>
                    </div>
                    <p></p>
                </div>
                <div class="trainerFedbackInputDiv">
                    <label class="control-label ">{{ 'USER_FEEDBACK_OTHER' | translate }}:</label><textarea type="text" rows="3"
                                                                          class="form-control"
                                                                          ng-model="feedback.other" ></textarea><p></p>
                </div>
                <div class="trainerFedbackInputDiv">
                    <button type="submit" class="btn btn-primary ">{{ 'USER_FEEDBACK_SEND' | translate }}</button>
                    <input type="button" value="{{ 'TRAINER_FEEDBACK_CANCEL' | translate }}" ng-click="cancel()" class="btn btn-danger ">
                </div><br>
            </form>
        </div>
    </div>
</div>
