<div ng-include="navigation.url">
</div>


<div class="container">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span class="titleTrainingPage "> {{training.name}}</span>
        </div>
        <div class="col-md-2 " ng-controller="ratingController">
            <span class="rating">
                <rating ng-model="currentRating"
                 max="maxRating"
                 readonly="isRatingReadonly"
                 on-hover="hoveringOver(value)"
                 on-leave="overStar=null">
                </rating>{{overStar}}
            </span>
        </div>
    </div>

    <div classs="row " style="padding-top: 50px">
        <div class="col-md-7 jumbotron textBlock" >
            <span>Annotation:</span>{{training.annotation}}<p></p>
            <span>Date:</span>{{training.date}}<p></p>
            <span>Target audience:</span>{{training.date}}<p></p>
        </div>
        <div class="col-md-4 jumbotron textBlock" >
            <span>Trainer:</span>Diadia fedia<p></p>
            <span>Time:</span>{{training.date}}<p></p>
            <span>Place:</span>{{training.date}}<p></p>
            <span>Duration:</span>{{training.date}}<p></p>
            <button type="button" class="btn btn-primary ">Leave feedback/subscribe</button>
        </div>

    </div>

    <div classs="row " >
        <div class="col-md-7 jumbotron textBlock" >
            <div>
                <span>Did you understand all?</span>
                <div class="radio">
                    <label><input type="radio" value="true" name="internalExternal" >yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="internalExternal">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <span>whether you're interested in?</span>
                <div class="radio">
                    <label><input type="radio" value="true" name="internalExternal" >yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="internalExternal">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <span>Would you like to learn from this coach?</span>
                <div class="radio">
                    <label><input type="radio" value="true" name="internalExternal" >yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="internalExternal">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <span>Did you learn something new?</span>
                <div class="radio">
                    <label><input type="radio" value="true" name="internalExternal" >yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="internalExternal">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <span>Would you recommend to your colleagues to visit this training?</span>
                <div class="radio">
                    <label><input type="radio" value="true" name="internalExternal" >yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="false" name="internalExternal">no</label>
                </div>
                <p></p>
            </div>
            <div>
                <span>how effectively the last session (Rate from 1 to 5)?</span>
                <div ng-controller="ratingController">
                    <span >
                        <rating ng-model="currentRating"
                                max="5"
                                readonly="isRatingReadonly"
                                on-hover="hoveringOver(value)"
                                on-leave="overStar=null">
                        </rating>{{overStar}}
                    </span>
                </div>
                <p></p>
            </div>
            <div>
                <span>Other:</span><textarea type="text" rows="3"
                                                              class="form-control"
                                                              placeholder="Description"
                                                              required></textarea><p></p>
            </div>
            <button type="button" class="btn btn-primary ">Send feedback</button>
        </div>

    </div>

</div>






<!--<div class="col-md-4">-->
    <!--<div style="display:inline-block; min-height:290px;">-->
        <!--<datepicker ng-model="dt"-->
                    <!--class="well well-sm"-->
                    <!--custom-class="getDayClass(date,mode)">-->
        <!--</datepicker>-->
    <!--</div>-->
<!--</div>-->