<div class="container wrappered">
    <div classs="row ">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="titleTrainingPage "> {{training.name}}</h1>
        </div>
        <div class="col-md-2 " ng-controller="ratingController">
            <span class="rating">
                <rating ng-model="training.rate"
                        max="maxRating"
                        readonly="true"
                        on-leave="overStar=null">
                </rating>
            </span>
        </div>
    </div>

    <div classs="row " style="padding-top: 50px">
        <div class="col-md-8 newWell textBlock">
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_ANNOTATION' | translate }}<br></span>{{training.annotation}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_DESCRIPTION' | translate }}<br></span>{{training.description}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_TARGET_AUDIENCE' | translate }}<br></span>{{training.target}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_MAX_PARTICIPANTS' | translate }}<br></span>{{training.max_participants}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_PARTICIPANTS' | translate }}</span>
            </div>

            <table>
                <tr>
                    <td class=>
                        <div tooltip-placement="top"
                             tooltip-popup-delay='3000'
                             tooltip="double click to leave absent reason"
                             class="panel panel-default table-responsive scrollTable1">
                            <table class="table table-bordered">
                                <tr>
                                    <th>#</th>
                                </tr>
                                <tr ng-repeat="subscriber in subscribers|filter:'Approve'">
                                    <td >{{$index+1}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td >
                        <div tooltip-placement="top"
                             tooltip-popup-delay='3000'
                             tooltip="double click to leave absent reason"
                             class="panel panel-default table-responsive scrollTable2">
                            <table class="table table-bordered">
                                <tr>
                                    <th>{{ 'TRAINING_PAGE_USER' | translate }}</th>
                                    <th ng-repeat="meet in training.meets">
                                        {{$index+1}}
                                    </th>
                                </tr>
                                <tr ng-repeat="subscriber in subscribers|filter:'Approve'">
                                    <td nowrap>{{subscriber.name}}</td>
                                    <td ng-repeat="meet in training.meets"
                                        title="{{subscriber.participants[$index].reason}}">
                                        {{subscriber.participants[$index].absent|attendanceFilter}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>


        </div>


        <div class="col-md-3 newWell LeftTextBlock" >
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_TRAINER' | translate }}:</span>{{training.trainerName}}
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_TIME' | translate }}:</span>
            </div>
            <div class="breakText">
                <span>{{ 'TRAINING_PAGE_PLACE' | translate }}:</span>{{training.place}}
            </div>

            <div class="row buttons">
                <div class="col-md-6" ng-show="training.isSubscribe">
                    <button type="button"
                            class="btn editDatesButton "
                            ng-click="openModal()">
                        {{ 'TRAINING_PAGE_LEAVE_FEEDBACK' | translate }}
                    </button>
                </div>
                <div class="col-md-6" ng-show="training.isSubscribe" >
                    <button type="button"
                            class="btn btn-danger "
                            ng-click="unsubscribe()">
                        {{ 'TRAINING_PAGE_UNSUBSCRIBE' | translate }}
                    </button>
                </div>
                <div class="col-md-6 " ng-show="!training.isSubscribe" >
                    <button type="button"
                            class="btn editDatesButton "
                            ng-click="subscribe()">
                        {{ 'TRAINING_PAGE_SUBSCRIBE' | translate }}
                    </button>
                </div>
            </div>
            <div class="row buttons">

                <div class="col-md-12"  ng-cloak>
                    <button class="btn editDatesButton"
                            ng-click="changeCollapse.dates()">
                        {{show.dates|translate}} {{ 'TRAINING_PAGE_DATES' | translate }}
                    </button>
                </div>
                <div class="dateTime">
                    <div collapse="isCollapsed.dates">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>{{ 'TRAINING_PAGE_DATE' | translate }}</th>
                                <th>{{ 'TRAINING_PAGE_TIME' | translate }}</th>
                            </tr>
                            <tr ng-repeat="curTraining in training.meets">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-calendar"
                                          style="color: grey">
                                    </span>
                                    {{training.dateTime[$index]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-time"
                                          style="color: grey">
                                    </span>
                                    {{training.time[$index]}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 buttons"  ng-cloak>
                    <button class="btn editDatesButton"
                            ng-click="changeCollapse.subscribers()">
                        {{show.subscribers|translate}} {{ 'TRAINING_PAGE_SUBSCRIBERS' | translate }}
                    </button>
                </div>
                <div class="col-md-12 dateTime">
                    <div collapse="isCollapsed.subscribers">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>{{ 'TRAINING_PAGE_SUBSCRIBER' | translate }}</th>
                                <th>{{ 'TRAINING_PAGE_STATE' | translate }}</th>
                            </tr>
                            <tr ng-repeat="subscriber in subscribers">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{subscriber.name}}
                                </td>
                                <td><span class="glyphicon"
                                          ng-class="{
                                          'glyphicon-ok glyphGreen': subscriber.status==='Approve',
                                          'glyphicon-time glyphYellow': subscriber.status==='Wait',
                                          }"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


